.research_part {
    background-color: white;
    margin-top: 100px;
}

.blog {
    font-size: 32px;
    font-weight: 700;
    color: black;
}

.research {
    background-color: #F9F9F9;
    border: none;
    border-radius: 5px;
}

.filter {
    background-color: white;
    border: none;
    color: #A1A5B7;
    font-size: 14px;
}
.filter:hover {
    background-color: white;
    border: none;
    color: #A1A5B7;
    font-size: 14px;
}